<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>your profile</title>
</head>
<body>

	<h1>Your Profile</h1>
	<img th:src="@{/profileImage/{id}(id=${customer.id})}"
		alt="Profile Picture">
	<p>
		First Name: <span th:text="${customer.firstName}"></span>
	</p>
	<p>
		Last Name: <span th:text="${customer.lastName}"></span>
	</p>
	<p>
		Email: <span th:text="${customer.email}"></span>
	</p>
	<p>
		Address: <span th:text="${customer.address}"></span>
	</p>
	<p>
		Gender: <span th:text="${customer.gender}"></span>
	</p>
	<p>
		Date of Birth: <span th:text="${customer.DOB}"></span>
	</p>
	<p>
		PAN: <span th:text="${customer.pan}"></span>
	</p>
	<p>
		Aadhar: <span th:text="${customer.aadhar}"></span>
	</p>

	<a th:href="@{/editProfile/{id}(id=${customer.id})}">Edit Profile</a>
</body>
</html>