<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .table {
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
    </style>
<body>

 <h1>View Complaints</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Complaint Text</th>
        </tr>
        <th:block th:each="complaint : ${complaints}">
            <tr>
                <td th:text="${complaint.id}"></td>
                <td th:text="${complaint.username}"></td>
                <td th:text="${complaint.text}"></td>
            </tr>
        </th:block>
    </table>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>